li {                         /*pourquoi ici li pour mettre en ligne? alors que mobile.css a pour remettre block*/
    display: inline;
        }

nav {
    
    background-color: black;
    padding: 5px;
    margin-bottom: 5px
    
   
     }

 nav a {
    color:white
 }    
 header{
    display: flex;
}
header h1{
    margin: auto;
}
footer {
    background-color: black;
    padding: 5px;
    margin-top: 5px;
    
 
    
}

footer a {
    color: white;
    
}
    /*body*/
.global {                                       
    display:flex;

}

#accueil {
    font-size: 300%;
    border-bottom: solid  rgb(160, 157, 157);
    padding-bottom: 2rem;
    margin:  20px 0 20px 0;
   

}


aside {
    background: rgb(122, 122, 122);
    width: 25%;
           }

section {
    display: block;
    width: 75%;
}           



